.Victory {
    background-color: rgb(179, 226, 255);
    height: 95px;
    width: 675px;
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    margin-bottom: 5px;
}

.Defeat {
    background-color:pink;
    height: 95px;
    width: 675px;
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    margin-bottom: 5px;
}

.time {
    float: left;
    height: 95px;
    width: 85px;
    font-size: 10px;
    position: relative;
    top: 10px;
    text-align: center;
}

.queueType {
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: 0px;
    margin-top: 5px;
}

.timeAgo {
    font-size: 11px;
    position: relative;
    top: 0px;
    margin-bottom: 5px;
}

.textVictory {
    font-size: 12px;
    font-weight: 600;
    color: royalblue;
    position: relative;
    top: 0px;
}

.textDefeat {
    font-size: 12px;
    font-weight: 600;
    color: crimson;
    position: relative;
    top: 0px;
}

.gameLength {
    font-size: 11px;
    position: relative;
    top: 0px;
}

.championIcon {
    float: left;
    height: 80px;
    width: 60px;
    font-size: 10px;
    position: relative;
}

.championName {
    font-size: 11px;
    font-weight: 500;
    position: relative;
    top: 17.5px;
    left: 30px;
    height: 10px;
    width: 50px;
}

.summonerSpellsAndRunes {
    float: left;
    height: 70px;
    width: 60px;
    font-size: 10px;
    position: relative;
    top: 15px;
}

.championIconImg {
    height: 50px;
    border-radius: 50%;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.summonerSpell {
    height: 22.5px;
    display: block;
    position: relative;
    border-radius: 10%;
    margin-bottom: 2.5px;
}

.spellOrRuneSet {
    float: left;
    height: 80px;
    width: 30px;
    font-size: 10px;
    position: relative;
    top: 0px;
}

.topRune {
    border-radius: 50%;
    height: 22.5px;
    display: block;
    position: relative;
    background-color: black;
    margin-bottom: 2.5px;
}

.bottomRune {
    border-radius: 50%;
    height: 22.5px;
    display: block;
    position: relative;
    margin-bottom: 2.5px;
}

.kdaContainer {
    float: left;
    height: 95px;
    width: 80px;
    font-size: 10px;
    position: relative;
    top: 10px;
}

.killsDeathsAssists {
    font-size: 15px;
    font-weight: 500;
    position: relative;
    top: 15px;
}

.kda {
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: 17px;
}

.levelCSKPContainer {
    float: left;
    height: 95px;
    width: 80px;
    font-size: 10px;
    position: relative;
    top: 10px;
}

.levelCSKP {
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: 10px;
}

.itemContainer {
    float: left;
    height: 95px;
    width: 100px;
    font-size: 10px;
    position: relative;
    top: 10px;
}

.item1-4 {
    float: left;
    height: 23px;
    position: relative;
    top: 10px;
    margin: 1px;
    border-radius: 10%;
}

.item5-7 {
    float: left;
    height: 23px;
    position: relative;
    top: 10px;
    margin: 1px;
    border-radius: 10%;
}

.emptyItem {
    float: left;
    height: 23px;
    width: 23px;
    background-color: gray;
    position: relative;
    top: 10px;
    margin: 1px;
    border-radius: 10%;
}

.wards {
    position: relative;
    top: 10px;
    font-weight: 500;
}

.playersContainer {
    float: left;
    height: 10px;
    width: 165px;
    font-size: 10px;
    position: relative;
    top: 0px;
    margin-top: 5px;
    margin-left: 10px;
}

.teamContainer {
    float: left;
    height: 90px;
    width: 75px;
    font-size: 10px;
    position: relative;
    top: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.miniChampionIcon {
    height: 15px;
    width: 15px;
    margin-right: 2px;
    border-radius: 10%
}

.player {
    text-align: left;
    width: 75px;
    height: 16px;
    position: relative;
    margin: 1px;
}

.showFullMatchInfoContainerVictory {
    background-color: #8DB4F8;
    float: left;
    height: 95px;
    width: 35px;
    position: relative;
    top: 0px;
}

.showFullMatchInfoContainerDefeat {
    background-color:rgb(253, 173, 185);
    float: left;
    height: 95px;
    width: 35px;
    position: relative;
    top: 0px;
}

.showFullMatchInfoButton {
    background-color: transparent;
    border: transparent;
    position: relative;
    top: 55px;
}

.playerName {
    float: right;
    font-size: 11px;
    height: 16px;
    width: 57px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
